{
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "title": "Tink API",
        "version": "1.0.0"
    },
    "host": "api.us.tink.com",
    "paths": {
        "/api/v1/account-verification-reports/{id}": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Fetch report JSON data based on a report identifier.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Data v1.Account Verification",
                    "REGION.US"
                ],
                "summary": "Get Account Verification Report",
                "operationId": "getReport",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "6e68cc6287704273984567b3300c5822",
                        "description": "The id of the report to retrieve.",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "schema": {
                            "$ref": "#/definitions/Data%20v1.Account%20Verification"
                        }
                    },
                    "400": {
                        "description": "Incorrect request parameters."
                    },
                    "404": {
                        "description": "Could not find the report. Possible reasons, report was not successfully created, report has expired"
                    }
                }
            }
        },
        "/api/v1/account-verification-reports/{id}/pdf": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "account-verification-reports:read"
                        ]
                    },
                    {
                        "OAuth2Client": [
                            "account-verification-reports:read"
                        ]
                    }
                ],
                "description": "Fetch a PDF report based on the data returned in the Account Verification report API.",
                "produces": [
                    "application/pdf"
                ],
                "tags": [
                    "Data v1.Account Verification"
                ],
                "summary": "Get Account Verification PDF Report",
                "operationId": "getAsPdf",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "6e68cc6287704273984567b3300c5822",
                        "description": "The id of the report to retrieve a PDF document for.",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "standard-1.0",
                        "description": "The template name to use for the report generation. Available templates: standard-1.0",
                        "name": "template",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation."
                    },
                    "400": {
                        "description": "Incorrect request parameters."
                    },
                    "404": {
                        "description": "Could not find the report (e.g. expired)."
                    }
                }
            }
        },
        "/api/v1/accounts/list": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "accounts:read"
                        ]
                    }
                ],
                "description": "Returns an object with a list of the authenticated user's accounts.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Data v1.Account"
                ],
                "summary": "List accounts",
                "operationId": "listAccounts",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "schema": {
                            "$ref": "#/definitions/AccountListResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{id}": {
            "put": {
                "security": [
                    {
                        "OAuth2User": [
                            "accounts:write"
                        ]
                    }
                ],
                "description": "Updates mutable properties of an account. The following properties are possible to update: accountExclusion, accountNumber, excluded, favored, name, type",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Data v1.Account",
                    "ENTERPRISE"
                ],
                "summary": "Update an Account",
                "operationId": "update",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "8937fa00166946cbbcbbec569c9d6e90",
                        "description": "The ID of the account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "The updated account object",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Data%20v1.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "schema": {
                            "$ref": "#/definitions/Data%20v1.Account"
                        }
                    },
                    "400": {
                        "description": "The payload does not pass validation."
                    },
                    "404": {
                        "description": "The account does not exist."
                    }
                }
            }
        },
        "/api/v1/accounts/{id}/balances": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "balances:read"
                        ]
                    }
                ],
                "description": "Returns an object with the account’s balances.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Data v1.Account",
                    "ENTERPRISE",
                    "BETA"
                ],
                "summary": "Get balances for account",
                "operationId": "getBalances",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "schema": {
                            "$ref": "#/definitions/Balances"
                        }
                    },
                    "404": {
                        "description": "The account does not exist, or no balances available."
                    }
                }
            }
        },
        "/api/v1/authorization/hooks": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "user:web_hooks"
                        ]
                    }
                ],
                "description": "(DEPRECATED) List the registered webhooks for the given user.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Events v1.Webhook",
                    "ENTERPRISE"
                ],
                "summary": "List Webhooks",
                "operationId": "listHooks",
                "deprecated": true,
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/OAuth2WebHookResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "OAuth2": [
                            "user:web_hooks"
                        ]
                    }
                ],
                "description": "(DEPRECATED) Create a new webhook for the authenticated user, giving the possibility to get pushed updates for certain events. Creating a new webhook will remove the existing one.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Events v1.Webhook",
                    "ENTERPRISE"
                ],
                "summary": "Create Webhook",
                "operationId": "createHook",
                "deprecated": true,
                "parameters": [
                    {
                        "description": "The specifics of the webhook to create",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OAuth2WebHook"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Events%20v1.Webhook"
                        }
                    }
                }
            }
        },
        "/api/v1/authorization/hooks/{id}": {
            "delete": {
                "security": [
                    {
                        "OAuth2": [
                            "user:web_hooks"
                        ]
                    }
                ],
                "description": "(DEPRECATED) Delete the webhook of the given ID.",
                "tags": [
                    "Events v1.Webhook",
                    "ENTERPRISE"
                ],
                "summary": "Delete Webhook",
                "operationId": "deleteHook",
                "deprecated": true,
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the webhook",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/v1/balance-refresh": {
            "post": {
                "security": [
                    {
                        "OAuth2User": [
                            "balance-refresh"
                        ]
                    }
                ],
                "description": "Request a balance refresh for an account",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connectivity v1.Balance Refresh",
                    "BETA",
                    "REGION.US"
                ],
                "summary": "Request Balance Refresh",
                "operationId": "triggerBalanceRefresh_1",
                "parameters": [
                    {
                        "x-examples": null,
                        "name": "BalanceRefreshRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BalanceRefreshRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BalanceRefreshResponse"
                        },
                        "examples": {
                            "application/json": {
                                "balanceRefreshId": "f45dbb0a61124104a1ac517908812e87",
                                "credentialId": "6e68cc6287704273984567b3300c5822"
                            }
                        }
                    },
                    "400": {
                        "description": "empty or invalid mandatory parameter (accountId)",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "examples": {
                            "application/problem+json": {
                                "instance": "6e68cc6287704273984567b3300c5822",
                                "invalidParams": [
                                    {
                                        "name": "accountId",
                                        "reason": "The accountId provided is either invalid or empty, please add a valid accountId"
                                    }
                                ],
                                "title": "Invalid request params",
                                "type": "urn:errors:invalid-argument"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/balance-refresh/{refreshId}": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "balance-refresh:readonly"
                        ]
                    }
                ],
                "description": "Get the status of a balance refresh.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connectivity v1.Balance Refresh",
                    "BETA",
                    "REGION.US"
                ],
                "summary": "Get Balance Refresh Status",
                "operationId": "fetchBalanceRefreshStatus",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "f45dbb0a61124104a1ac517908812e87",
                        "description": "Balance refresh ID.",
                        "name": "refreshId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "schema": {
                            "$ref": "#/definitions/BalanceRefreshStatusResponse"
                        },
                        "examples": {
                            "application/json": {
                                "status": "FINISHED"
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "examples": {
                            "application/problem+json": {
                                "detail": "Please create a valid credential by going through the account check flow again.",
                                "instance": "6e68cc6287704273984567b3300c5822",
                                "title": "Invalid credential",
                                "type": "urn:errors:invalid-credentials"
                            }
                        }
                    },
                    "429": {
                        "description": "quota exceeded",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "examples": {
                            "application/problem+json": {
                                "detail": "You have reached the quota of 5 balance refreshes per 2 hours.",
                                "instance": "6e68cc6287704273984567b3300c5822",
                                "title": "Too Many Requests",
                                "type": "about:errors:too-many-requests"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/budgets": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:read"
                        ]
                    }
                ],
                "description": "List all budgets for the user.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "List budgets",
                "operationId": "listBudgets",
                "parameters": [
                    {
                        "type": "boolean",
                        "x-example": true,
                        "description": "Whether to include archived budgets or not in the response.",
                        "name": "includeArchived",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/ListBudgetSpecificationsResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/one-off": {
            "post": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:write"
                        ]
                    }
                ],
                "description": "Creates a budget for a specific date interval.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "Create one-off budget",
                "operationId": "createOneOffBudget",
                "parameters": [
                    {
                        "x-examples": null,
                        "description": "The one off budget to be created.",
                        "name": "CreateOneOffBudgetRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateOneOffBudgetRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/CreateBudgetResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/recommended": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:read"
                        ]
                    }
                ],
                "description": "List budget recommendations based on spending patterns.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "List recommended budgets",
                "operationId": "recommendedBudget",
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/ListRecommendedBudgetResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/recurring": {
            "post": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:write"
                        ]
                    }
                ],
                "description": "Creates a recurring budget with a set periodicity.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "Create recurring budget",
                "operationId": "createRecurringBudget",
                "parameters": [
                    {
                        "x-examples": null,
                        "description": "Create budget with the requested fields.",
                        "name": "CreateRecurringBudgetRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateRecurringBudgetRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/CreateBudgetResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/summaries": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:read"
                        ]
                    }
                ],
                "description": "List all budgets for the user including current period for each budget.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "List budgets with summaries",
                "operationId": "listBudgetWithSummaries",
                "parameters": [
                    {
                        "type": "boolean",
                        "x-example": true,
                        "description": "Whether to include archived budgets or not in the response.",
                        "name": "includeArchived",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/ListBudgetWithSummariesResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/{id}": {
            "put": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:write"
                        ]
                    }
                ],
                "description": "Updates the specified budget.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "Update budget",
                "operationId": "updateBudget",
                "parameters": [
                    {
                        "x-examples": null,
                        "description": "Update the budget with the requested fields.",
                        "name": "UpdateBudgetRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateBudgetRequest"
                        }
                    },
                    {
                        "type": "string",
                        "x-example": "e2b746ed27c542ce846a8d693474df21",
                        "description": "Budget id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/UpdateBudgetResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "400": {
                        "description": "If any of the request parameters is incorrect or missing",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "404": {
                        "description": "Budget not found",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:write"
                        ]
                    }
                ],
                "description": "Deletes the specified budget.",
                "produces": [
                    "*/*"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "Delete budget",
                "operationId": "deleteBudget",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "e2b746ed27c542ce846a8d693474df21",
                        "description": "Budget id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Budget deleted",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "*/*": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "*/*": null
                        }
                    },
                    "404": {
                        "description": "Budget not found",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "*/*": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "*/*": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/{id}/archive": {
            "put": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:write"
                        ]
                    }
                ],
                "description": "Archives the specified budget.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "Archive budget",
                "operationId": "archiveBudget",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "e2b746ed27c542ce846a8d693474df21",
                        "description": "Budget id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Budget was archived successfully",
                        "schema": {
                            "$ref": "#/definitions/Finance%20Management.Budgets"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "400": {
                        "description": "If any of the request parameters is incorrect or missing",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "404": {
                        "description": "Budget not found",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/{id}/details": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:read"
                        ]
                    }
                ],
                "description": "Get the specified budget and its periods within the start and end\ndates. The date parameters are inclusive, thus specifying a date in\nthe middle of a period will include the complete period amounts.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "Get budget details",
                "operationId": "getBudgetDetails",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "e2b746ed27c542ce846a8d693474df21",
                        "description": "Budget id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1549976786000,
                        "description": "Date within the first period expressed as UTC epoch timestamp in milliseconds.",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1549976786000,
                        "description": "Date within the last period expressed as UTC epoch timestamp in milliseconds.",
                        "name": "end",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/GetBudgetDetailsResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "404": {
                        "description": "Budget not found",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/budgets/{id}/transactions": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "budgets:read"
                        ]
                    }
                ],
                "description": "List all transactions for the specified budget within the start and end date.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Finance Management.Budgets",
                    "ENTERPRISE"
                ],
                "summary": "Get budget transactions",
                "operationId": "getBudgetTransactions",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "e2b746ed27c542ce846a8d693474df21",
                        "description": "Budget id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1549976787000,
                        "description": "Query start date expressed as UTC epoch timestamp in milliseconds.",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1549976787000,
                        "description": "Query end date expressed as UTC epoch timestamp in milliseconds.",
                        "name": "end",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Successful response",
                        "schema": {
                            "$ref": "#/definitions/ListBudgetTransactionsResponse"
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "404": {
                        "description": "Budget not found",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "500": {
                        "description": "For any unspecified error",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "application/json": null
                        }
                    }
                }
            }
        },
        "/api/v1/calendar/periods": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "calendar:read"
                        ]
                    }
                ],
                "description": "Get a list of detailed periods from a given start period to an end period. Will always return one of the monthly resolutions.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "General.Calendar",
                    "ENTERPRISE"
                ],
                "summary": "Query Period details",
                "operationId": "listPeriods",
                "parameters": [
                    {
                        "enum": [
                            "YYYY-MM-DD"
                        ],
                        "type": "string",
                        "description": "Date inside the start period. No greater than 10 years.",
                        "name": "period_gte",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "YYYY-MM-DD"
                        ],
                        "type": "string",
                        "description": "Date inside the end period. No later than 10 years.",
                        "name": "period_lte",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The periods were successfully returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/General.Calendar"
                            }
                        }
                    },
                    "400": {
                        "description": "A period query parameter format is invalid or period_gte is after period_lte or it is out of range.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/v1/calendar/periods/{period}": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "calendar:read"
                        ]
                    }
                ],
                "description": "Get details for the supplied period. Will always return one of the monthly resolutions.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "General.Calendar",
                    "ENTERPRISE"
                ],
                "summary": "Get period details",
                "operationId": "getPeriod",
                "parameters": [
                    {
                        "enum": [
                            "YYYY",
                            "YYYY-MM",
                            "YYYY-MM-DD"
                        ],
                        "type": "string",
                        "description": "Period to get details for",
                        "name": "period",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The periods were successfully returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/General.Calendar"
                            }
                        }
                    },
                    "400": {
                        "description": "The period format is invalid.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/v1/categories": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "user:read"
                        ]
                    },
                    {
                        "OAuth2Client": [
                            "user:read"
                        ]
                    }
                ],
                "description": "\u003cb\u003eThe \u003ci\u003euser:read\u003c/i\u003e scope is necessary for authenticated requests.\u003c/b\u003e\n\nReturns all categories corresponding to a specified locale. The locale is determined based on the authenticated user. If there's no authenticated user, the locale will be based on the query parameter. In the absence of both an authenticated user and a query parameter, a default locale will be used. Please note that the category IDs are returned as UUIDs without any dashes.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "General.Category"
                ],
                "summary": "List categories",
                "operationId": "listCategories",
                "parameters": [
                    {
                        "type": "string",
                        "default": "en_US",
                        "x-example": "sv_SE",
                        "description": "The locale for which to fetch categories.",
                        "name": "locale",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The categories were successfully returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/General.Category",
                                "allowEmptyValue": null,
                                "position": null
                            }
                        },
                        "examples": {
                            "application/json": null
                        }
                    },
                    "400": {
                        "description": "The payload does not pass validation.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "*/*": null
                        }
                    },
                    "401": {
                        "description": "If the user is not authorized.",
                        "schema": {
                            "type": "object",
                            "allowEmptyValue": null
                        },
                        "examples": {
                            "*/*": null
                        }
                    }
                }
            }
        },
        "/api/v1/credentials": {
            "post": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:write"
                        ]
                    }
                ],
                "description": "Creates the Credentials for the user. The create request will trigger a refresh towards the provider.",
                "consumes": [
                    "application/json",
                    "application/x-protobuf"
                ],
                "produces": [
                    "application/json",
                    "application/x-protobuf"
                ],
                "tags": [
                    "Connectivity v1.Credentials",
                    "ENTERPRISE"
                ],
                "summary": "Create credentials",
                "operationId": "create",
                "parameters": [
                    {
                        "description": "The credentials to create. Only providerName and fields are required.",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CreateCredentialsRequest"
                        }
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "CHECKING_ACCOUNTS",
                                "CHECKING_TRANSACTIONS",
                                "SAVING_ACCOUNTS",
                                "SAVING_TRANSACTIONS",
                                "CREDITCARD_ACCOUNTS",
                                "CREDITCARD_TRANSACTIONS",
                                "LOAN_ACCOUNTS",
                                "LOAN_TRANSACTIONS",
                                "INVESTMENT_ACCOUNTS",
                                "INVESTMENT_TRANSACTIONS",
                                "EINVOICES (DEPRECATED)",
                                "TRANSFER_DESTINATIONS",
                                "IDENTITY_DATA",
                                "LIST_BENEFICIARIES (DEPRECATED)"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "x-example": "CHECKING_ACCOUNTS,CHECKING_TRANSACTIONS,SAVING_ACCOUNTS,SAVING_TRANSACTIONS,CREDITCARD_ACCOUNTS,CREDITCARD_TRANSACTIONS,LOAN_ACCOUNTS,LOAN_TRANSACTIONS,INVESTMENT_ACCOUNTS,INVESTMENT_TRANSACTIONS,EINVOICES (DEPRECATED),TRANSFER_DESTINATIONS,IDENTITY_DATA,LIST_BENEFICIARIES (DEPRECATED)",
                        "description": "The data types to aggregate from the provider. Multiple items are allowed and are passed as: items=item1\u0026items=item2. If omitted, all data types are aggregated.",
                        "name": "items",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The credentials was successfully created.",
                        "schema": {
                            "$ref": "#/definitions/Connectivity%20v1.Credentials"
                        }
                    },
                    "400": {
                        "description": "The payload does not pass validation or the user could not be authenticated."
                    },
                    "404": {
                        "description": "The provider could not be found."
                    },
                    "409": {
                        "description": "There is already a credentials with the same provider name and same values of the fields."
                    }
                }
            }
        },
        "/api/v1/credentials/list": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:read"
                        ]
                    }
                ],
                "description": "List all credentials for the user.",
                "produces": [
                    "application/json",
                    "application/x-protobuf"
                ],
                "tags": [
                    "Connectivity v1.Credentials"
                ],
                "summary": "List credentials",
                "operationId": "getCredentialsList",
                "responses": {
                    "200": {
                        "description": "The list of credentials was successfully returned.",
                        "schema": {
                            "$ref": "#/definitions/CredentialsListResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/credentials/third-party/callback/relayed": {
            "post": {
                "description": "Send url-decoded callback information from an ASPSP. This endpoint will return the registered redirect uri as response.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connectivity v1.Credentials",
                    "ENTERPRISE"
                ],
                "summary": "Third-party callback with redirect",
                "operationId": "thirdPartyCallbackRelayedPost",
                "parameters": [
                    {
                        "description": "The callback response from the ASPSP with JSON format.",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CallbackRelayedRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The callback request was successful.",
                        "schema": {
                            "$ref": "#/definitions/CallbackRelayedResponse"
                        }
                    },
                    "400": {
                        "description": "The payload does not pass validation."
                    }
                }
            }
        },
        "/api/v1/credentials/{id}": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:read"
                        ]
                    }
                ],
                "description": "Gets credentials by ID.",
                "produces": [
                    "application/json",
                    "application/x-protobuf"
                ],
                "tags": [
                    "Connectivity v1.Credentials"
                ],
                "summary": "Get credentials",
                "operationId": "get",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The internal identifier of the credentials to get",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The credentials was successfully returned.",
                        "schema": {
                            "$ref": "#/definitions/Connectivity%20v1.Credentials"
                        }
                    },
                    "404": {
                        "description": "The credentials could not be found."
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:write"
                        ]
                    }
                ],
                "description": "Modify the specified credentials. The request will trigger a refresh towards the provider.",
                "consumes": [
                    "application/json",
                    "application/x-protobuf"
                ],
                "produces": [
                    "application/json",
                    "application/x-protobuf"
                ],
                "tags": [
                    "Connectivity v1.Credentials",
                    "ENTERPRISE"
                ],
                "summary": "Modify credentials",
                "operationId": "update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The internal identifier of the credentials to change",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "The new credentials object.",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCredentialsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The credentials was successfully modified.",
                        "schema": {
                            "$ref": "#/definitions/Connectivity%20v1.Credentials"
                        }
                    },
                    "400": {
                        "description": "The payload does not pass validation."
                    },
                    "409": {
                        "description": "Another ongoing request is in progress."
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:write"
                        ]
                    }
                ],
                "description": "Deletes the given credentials. The deletion is partly done asynchronously.",
                "tags": [
                    "Connectivity v1.Credentials",
                    "ENTERPRISE"
                ],
                "summary": "Delete credentials",
                "operationId": "delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The internal identifier of the credentials to delete",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The credentials has been successfully sent for deletion."
                    },
                    "404": {
                        "description": "The credentials could not be found."
                    }
                }
            }
        },
        "/api/v1/credentials/{id}/accounts-selection": {},
        "/api/v1/credentials/{id}/authenticate": {
            "post": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:refresh"
                        ]
                    }
                ],
                "description": "Triggers a full authentication flow to renew refresh tokens with ASPSPs. This endpoint only triggers authentication, thus a full credentials refresh will not be executed.",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Connectivity v1.Credentials",
                    "ENTERPRISE"
                ],
                "summary": "Manual authenticate of credentials",
                "operationId": "manualAuthentication",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "2d3bd65493b549e1927d97a2d0683ab9",
                        "description": "The internal identifier of the `Credentials` object to authenticate.",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Manual authentication object.",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ManualAuthenticationRequest"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The credentials authentication was successfully initiated."
                    },
                    "404": {
                        "description": "The credentials could not be found."
                    }
                }
            }
        },
        "/api/v1/credentials/{id}/qr": {
            "get": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:read"
                        ]
                    }
                ],
                "description": "QR code for authentication flows such as Mobile BankID as base64 encoded PNG. Includes `data:image/png;base64,`.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "Connectivity v1.Credentials"
                ],
                "summary": "Get QR code",
                "operationId": "qrAsBase64",
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The QR code was successfully returned.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "The payload does not pass validation."
                    },
                    "404": {
                        "description": "Could not find the autostarttoken."
                    }
                }
            }
        },
        "/api/v1/credentials/{id}/refresh": {
            "post": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:refresh"
                        ]
                    }
                ],
                "description": "Refreshes the specified credentials. Please note that there can be only one on-demand refresh ongoing for a credential at a time,  any other attempts will be rejected. ",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Connectivity v1.Credentials",
                    "ENTERPRISE",
                    "REGION.US"
                ],
                "summary": "Refresh credentials",
                "operationId": "refresh",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "2d3bd65493b549e1927d97a2d0683ab9",
                        "description": "The internal identifier of the `Credentials` object to refresh.",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "The credentials object to refresh.",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/RefreshCredentialsRequest"
                        }
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "CHECKING_ACCOUNTS",
                                "CHECKING_TRANSACTIONS",
                                "SAVING_ACCOUNTS",
                                "SAVING_TRANSACTIONS",
                                "CREDITCARD_ACCOUNTS",
                                "CREDITCARD_TRANSACTIONS",
                                "LOAN_ACCOUNTS",
                                "LOAN_TRANSACTIONS",
                                "INVESTMENT_ACCOUNTS",
                                "INVESTMENT_TRANSACTIONS",
                                "EINVOICES (DEPRECATED)",
                                "TRANSFER_DESTINATIONS",
                                "IDENTITY_DATA",
                                "LIST_BENEFICIARIES (DEPRECATED)"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "x-example": "CHECKING_ACCOUNTS,CHECKING_TRANSACTIONS,SAVING_ACCOUNTS,SAVING_TRANSACTIONS,CREDITCARD_ACCOUNTS,CREDITCARD_TRANSACTIONS,LOAN_ACCOUNTS,LOAN_TRANSACTIONS,INVESTMENT_ACCOUNTS,INVESTMENT_TRANSACTIONS,EINVOICES (DEPRECATED),TRANSFER_DESTINATIONS,IDENTITY_DATA,LIST_BENEFICIARIES (DEPRECATED)",
                        "description": "The data types to aggregate from the Provider. Multiple items are allowed. If omitted, all data types are aggregated.",
                        "name": "items",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "x-example": "optIn=true",
                        "description": "Set to true to trigger an opt-in of accounts before doing the refresh. Today only available for enterprise customers.",
                        "name": "optIn",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "x-example": "authenticate=true",
                        "description": "Set to true to trigger authentication flow before doing the refresh.",
                        "name": "authenticate",
                        "in": "query"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The credentials refresh was successfully initiated."
                    },
                    "404": {
                        "description": "The credentials could not be found."
                    }
                }
            }
        },
        "/api/v1/credentials/{id}/supplemental-information": {
            "post": {
                "security": [
                    {
                        "OAuth2": [
                            "credentials:refresh"
                        ]
                    }
                ],
                "description": "Adds supplemental information to an authentication.",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Connectivity v1.Credentials",
                    "ENTERPRISE"
                ],
                "summary": "Add Supplemental Information",
                "operationId": "supplemental",
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "The supplemental information.",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SupplementalInformation"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The supplemental information was successfully sent."
                    },
                    "404": {
                        "description": "The credentials could not be found."
                    }
                }
            }
        },
        "/api/v1/credentials/{id}:select-accounts": {},
        "/api/v1/identities": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "identity:read"
                        ]
                    }
                ],
                "description": "Lists the available identity data from each provider for a user.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Data v1.Identity"
                ],
                "summary": "List identity data",
                "operationId": "listIdentityData",
                "responses": {
                    "200": {
                        "description": "Successful.",
                        "schema": {
                            "$ref": "#/definitions/Identities.v2.ListIdentitiesResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request.",
                        "schema": {
                            "$ref": "#/definitions/Identities.v1.ListIdentitiesResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized request.",
                        "schema": {
                            "$ref": "#/definitions/Identities.v1.ListIdentitiesResponse"
                        }
                    },
                    "403": {
                        "description": "Permission denied.",
                        "schema": {
                            "$ref": "#/definitions/Identities.v1.ListIdentitiesResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/insights": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "insights:read"
                        ]
                    }
                ],
                "description": "Lists all insights for the user. Listing insights will automatically apply any title and description overrides [configured using the Tink Console](https://docs.tink.com/resources/money-manager/money-manager-api/configure-actionable-insights). Trying to list insights with a [user locale](https://docs.tink.com/api#general/user/the-user-model/userprofile) that does not yet have a insight configuration will result in the insights being filtered out and not returned. This is to prevent exposing users to insights with text written in the wrong language. You can read more about configuring insights [here](https://docs.tink.com/resources/money-manager/money-manager-api/configure-actionable-insights).",
                "tags": [
                    "Finance Management.Actionable Insight",
                    "ENTERPRISE"
                ],
                "summary": "List insights",
                "operationId": "list",
                "responses": {
                    "200": {
                        "description": "Returns `200 Ok` for a successful operation.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Finance%20Management.Actionable%20Insight"
                            }
                        }
                    },
                    "500": {
                        "description": "Returns `500 Internal Server Error` for any unexpected error that occurs when trying to fetch insights."
                    }
                }
            }
        },
        "/api/v1/insights/action": {
            "post": {
                "security": [
                    {
                        "OAuth2User": [
                            "insights:write"
                        ]
                    }
                ],
                "description": "Report a user action on an insight and move the insight to an archived state.",
                "tags": [
                    "Finance Management.Actionable Insight",
                    "ENTERPRISE"
                ],
                "summary": "Take action on an insight",
                "operationId": "selectInsightAction",
                "parameters": [
                    {
                        "description": "The insight action that should be selected.",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SelectInsightActionRequest"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returns `204 No Content` for a successful operation."
                    },
                    "400": {
                        "description": "Returns `400 Bad Request` if any of the request parameters are incorrect or missing."
                    },
                    "404": {
                        "description": "Returns `404 Not Found` if the provided id does not correspond to an active insight."
                    },
                    "500": {
                        "description": "Returns `500 Internal Server Error` for any unexpected error that occurs when trying to take action on an insight."
                    }
                }
            }
        },
        "/api/v1/insights/archived": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "insights:read"
                        ]
                    }
                ],
                "description": "Lists all archived insights for the user. An insight is archived when a user takes action on it.",
                "tags": [
                    "Finance Management.Actionable Insight",
                    "ENTERPRISE"
                ],
                "summary": "List archived insights",
                "operationId": "listArchivedInsights",
                "responses": {
                    "200": {
                        "description": "Returns `200 Ok` for a successful operation.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ArchivedInsight"
                            }
                        }
                    },
                    "500": {
                        "description": "Returns `500 Internal Server Error` for any unexpected error that occurs when trying to fetch archived insights."
                    }
                }
            }
        },
        "/api/v1/insights/{id}/archive": {
            "put": {
                "security": [
                    {
                        "OAuth2User": [
                            "insights:write"
                        ]
                    }
                ],
                "description": "Move an active insight to an archived state. (DEPRECATED) should use \"POST /api/v1/insights/action\" instead.",
                "tags": [
                    "Finance Management.Actionable Insight",
                    "ENTERPRISE"
                ],
                "summary": "Archive an insight",
                "operationId": "archiveInsight",
                "deprecated": true,
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "630ff47c3aa841e9a11e7317c8683ca6",
                        "description": "The identifier of the insight that should be archived.",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returns `204 No Content` for a successful operation."
                    },
                    "400": {
                        "description": "Returns `400 Bad Request` if any of the request parameters are incorrect or missing."
                    },
                    "404": {
                        "description": "Returns `404 Not Found` if the provided id does not correspond to an active insight."
                    },
                    "500": {
                        "description": "Returns `500 Internal Server Error` for any unexpected error that occurs when trying to archive on insight."
                    }
                }
            }
        },
        "/api/v1/investments": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "investments:read"
                        ]
                    }
                ],
                "description": "Returns an object with a list of the authenticated user's portfolios and corresponding financial instruments.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Data v1.Investment"
                ],
                "summary": "List investments",
                "operationId": "getInvestments",
                "deprecated": true,
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "ISK",
                                "KF",
                                "DEPOT",
                                "PENSION",
                                "OTHER"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "x-example": "ISK, KF, DEPOT, PENSION, OTHER",
                        "description": "The portfolio types to select from aggregated investment data. Multiple types are allowed and are passed as: portfolioType=type1\u0026portfolioType=type2. If omitted, everything is selected.",
                        "name": "portfolioType",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Data%20v1.Investment"
                        }
                    }
                }
            }
        },
        "/api/v1/loans": {
            "get": {
                "security": [
                    {
                        "OAuth2User": [
                            "accounts:read"
                        ]
                    }
                ],
                "description": "Get all the loans for a user.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Data v1.Loan"
                ],
                "summary": "Get loans",
                "operationId": "getLoans",
                "deprecated": true,
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/LoanResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/notifications/query": {
            "post": {
                "description": "Queries notifications",
                "tags": [
                    "Finance Management.Notification",
                    "ENTERPRISE"
                ],
                "summary": "Query notifications",
                "operationId": "queryNotifications",
                "deprecated": true,
                "parameters": [
                    {
                        "description": "The query.",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NotificationQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/NotificationQueryResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/notifications/{id}/read": {
            "post": {
                "description": "Marks a notification as read",
                "tags": [
                    "Finance Management.Notification",
                    "ENTERPRISE"
                ],
                "summary": "Mark a notification as read",
                "operationId": "read",
                "deprecated": true,
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "8937fa00166946cbbcbbec569c9d6e90",
                        "description": "The ID of the notification",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/v1/notifications/{id}/received": {
            "post": {
                "description": "Marks a notification as received (only to be used for acknowledging encrypted notifications)",
                "tags": [
                    "Finance Management.Notification",
                    "ENTERPRISE"
                ],
                "summary": "Mark a notification as received",
                "operationId": "received",
                "deprecated": true,
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "8937fa00166946cbbcbbec569c9d6e90",
                        "description": "The ID of the notification",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/v1/oauth/authorization-grant": {
            "post": {
                "security": [
                    {
                        "OAuth2Client": [
                            "authorization:grant"
                        ]
                    }
                ],
                "description": "Creates a scoped authorization code for a user.",
                "produces": [
                    "application/json",
                    "application/x-protobuf"
                ],
                "tags": [
                    "General.OAuth",
                    "ENTERPRISE",
                    "REGION.US"
                ],
                "summary": "Create authorization",
                "operationId": "authorizationGrant",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "256ae77fcbda4bc2b8d0ba94d9c3423c",
                        "description": "User ID. Cannot be specified at the same time as `external_user_id`.",
                        "name": "user_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "x-example": "user_123_abc",
                        "description": "External user ID set by client on user creation. Cannot be specified at the same time as `user_id`.",
                        "name": "external_user_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "x-example": "accounts:read,transactions:read",
                        "description": "Scope of access. The scope doesn't need to be present on the access token used when calling this endpoint.",
                        "name": "scope",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/OAuth2AuthorizeResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/oauth/authorization-grant/delegate": {
            "post": {
                "security": [
                  {
                    "Bearer": []
                  }
                ],
                "description": "Creates a delegated scoped authorization code for a user. The difference between this and `authorization-grant` is that this endpoint allows the client to specify an actor client that is allowed to use the authorization code. This is useful when a client wants to delegate access to another client.",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "General.OAuth",
                    "ENTERPRISE",
                    "REGION.US"
                ],
                "summary": "Create delegated authorization",
                "operationId": "authorizationDelegate",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "256ae77fcbda4bc2b8d0ba94d9c3423c",
                        "description": "User ID. Cannot be specified at the same time as `external_user_id`.",
                        "name": "user_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "x-example": "user_123_abc",
                        "description": "External user ID set by client on user creation. Cannot be specified at the same time as `user_id`.",
                        "name": "external_user_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "x-example": "user_123_abc",
                        "description": "Human-readable information about the end-user that the actor client is authorized access to. If using Tink Link with permanent users, this will be presented to the end-user in Tink Link, to be able to verify the identity of the actual user they are interacting with and prevent URL spoofing attacks. You can use any arbitrary string value that is recognizable to the end-user, such as the end-user's full name or e-mail.",
                        "name": "id_hint",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "df05e4b379934cd09963197cc855bfe9",
                        "description": "ID of actor client that is allowed to use the authorization code. Actor client existence is not validated.",
                        "name": "actor_client_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "user:read,credentials:write",
                        "description": "Scope of delegated access. The scope doesn't need to be present on the access token used when calling this endpoint.",
                        "name": "scope",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorization code successfully created.",
                        "schema": {
                            "$ref": "#/definitions/OAuth2AuthorizeResponse"
                        }
                    },
                    "400": {
                        "description": "Request is not following the specification. See body for details."
                    },
                    "401": {
                        "description": "Client either doesn't exist, doesn't have access to the user or isn't allowed to use the scope. See body for details."
                    },
                    "404": {
                        "description": "User doesn't exist."
                    }
                }
            }
        },
        "/api/v1/oauth/revoke-all": {
            "post": {
                "security": [
                    {
                        "OAuth2Client": [
                            "authorization:revoke"
                        ]
                    }
                ],
                "description": "Revokes all access tokens for a user.",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "General.OAuth",
                    "ENTERPRISE"
                ],
                "summary": "Revoke all tokens",
                "operationId": "revokeAll",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "256ae77fcbda4bc2b8d0ba94d9c3423c",
                        "description": "User ID. Cannot be specified at the same time as `external_user_id`.",
                        "name": "user_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "x-example": "user_123_abc",
                        "description": "External user ID set by client on user creation. Cannot be specified at the same time as `user_id`.",
                        "name": "external_user_id",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "All tokens successfully revoked."
                    },
                    "400": {
                        "description": "Request is not following the specification. See body for details."
                    },
                    "401": {
                        "description": "Client either doesn't exist or doesn't have access to the user. See body for details."
                    },
                    "404": {
                        "description": "User doesn't exist."
                    }
                }
            }
        },
        "/api/v1/oauth/token": {
            "post": {
                "description": "Access tokens are used to access API resources.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "General.OAuth",
                    "REGION.US"
                ],
                "summary": "Get access token",
                "operationId": "token",
                "parameters": [
                    {
                        "type": "string",
                        "x-example": "256ae77fcbda4bc2b8d0ba94d9c3423c",
                        "description": "Client ID.",
                        "name": "client_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "bdb8477398074160901ce1c8dd5b7848",
                        "description": "Client secret. Required when the authentication method for client is configured for client secret, forbidden otherwise.",
                        "name": "client_secret",
                        "in": "formData"
                    },
                    {
                        "enum": [
                            "authorization_code",
                            "client_credentials",
                            "urn:ietf:params:oauth:grant-type:jwt-bearer"
                        ],
                        "type": "string",
                        "x-example": "authorization_code",
                        "description": "Grant type.",
                        "name": "grant_type",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "x-example": "c50cd6960a6f44ffb701ef60fafa7761",
                        "description": "Authorization code that was returned from the authorization flow. Required when grant type is `authorization_code`.",
                        "name": "code",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "x-example": "user:create,authorization:grant",
[...]
